span {
    color: #979797;
}

.trackWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 5px 0px;
    padding: 10px 10px;
    height: 50px;
}

.trackWrapper:hover {
    background-color: #242424;
}

.trackInfo {
    text-align: left;
}

.buttonWrapper {

}

.songName {
    color: #EBEBEB;
}

.infoSpan {
    margin-right: 5px;
}

.artists {
    display: inline;
    margin-right: 5px;
}

.divider {
    margin-right: 5px;
}

.button {
    border: none;
    background-color: transparent;
    padding: 40% 20px;
    border-radius: 200px;
    color: #979797;
    font-weight: 600;
}

.button:hover {

}

.button:active {
    background-color: #191919;
}