.songListWrapper {
    width: 500px;
    min-height: 800px;
    height: auto;
    padding: 10px 10px;
    background-color: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 26, 26);
    position: relative;
    z-index: 10;
}

.songListWrapperOff {
    display: none;
}

@keyframes slideOut {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0); /* Adjust this value based on the desired amount of movement */
    }
  }
  
  .animateSlideOut {
    animation: slideOut 0.5s ease-out forwards;
  }