.songListWrapper {
    width: 500px;
    min-height: 800px;
    height: auto;
    margin: 0 20px;
    padding: 0 10px;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.songListWrapperOff {
    display: none;
}