* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(9,31,121,1) 80%, rgba(0,149,255,1) 100%);
  transition: top 0.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: top 0.5s ease;
}

.container-initial {
  position: relative;
  top: 35%;
}

.container-standard {
  position: relative;
  top: 0%;
}

.lists {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 10px 0;
  background-color: rgba(36, 36, 36, 70%);
}

.jammming {
  position: relative;
  z-index: 10;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 80px;
  color: white;
}
